# Loading datasets from database (only user and post_text)

In [2]:
import pandas as pd
from dotenv import load_dotenv
import os


load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)


user_data = pd.read_sql(
    """SELECT * FROM public.user_data""",
    con=engine)

user_data

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [4]:
post_text_df = pd.read_sql(
    """SELECT * FROM public.post_text_df""",
    con=engine)

post_text_df

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

# Changing post_text - creating features

In [7]:
post_text_df['post_length'] = post_text_df['text'].apply(len)

In [9]:
post_text_df['num_hashtags'] = post_text_df['text'].apply(lambda x: x.count('#'))

In [11]:
post_text_df['num_mentions'] = post_text_df['text'].apply(lambda x: x.count('@'))

In [13]:
post_text_df['has_hashtag'] = post_text_df['text'].apply(lambda x: '#' in x)

In [15]:
post_text_df['has_url'] = post_text_df['text'].apply(lambda x: 'http' in x)

# Deep learning improvements

In [18]:
### 1. BERT-based Vectorization of Posts & Feature Extraction

In [20]:
from sentence_transformers import SentenceTransformer

In [22]:
### Loading BERT model
bert_model = SentenceTransformer('all-MiniLM-L6-v2')

In [24]:
### Getting BERT embeddings

from tqdm import tqdm

# Apply tqdm to track encoding progress
tqdm.pandas(desc="Encoding Posts with BERT")

# Getting BERT embeddings with progress bar
post_text_df['post_embedding'] = post_text_df['text'].progress_apply(lambda x: bert_model.encode(x))

Encoding Posts with BERT: 100%|█████████████| 7023/7023 [04:39<00:00, 25.12it/s]

In [25]:
import numpy as np
# Converting embeddings into new features (mean, max, min)
post_text_df['embedding_mean'] = post_text_df['post_embedding'].apply(lambda x: np.mean(x))
post_text_df['embedding_max'] = post_text_df['post_embedding'].apply(lambda x: np.max(x))
post_text_df['embedding_min'] = post_text_df['post_embedding'].apply(lambda x: np.min(x))

In [28]:
# Drop raw embeddings (optional)
post_text_df.drop(columns=['post_embedding'], inplace=True)

In [30]:
post_text_df

,post_id,text,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url,embedding_mean,embedding_max,embedding_min
0,1,UK economy facing major risks\n\nThe UK manufa...,business,1967,0,0,False,False,-0.000771,0.150771,-0.140247
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,2701,0,0,False,False,-0.001662,0.144552,-0.151125
2,3,Asian quake hits European shares\n\nShares in ...,business,3408,0,0,False,False,-0.001554,0.143036,-0.144040
3,4,India power shares jump on debut\n\nShares in ...,business,1026,0,0,False,False,-0.000081,0.137932,-0.174149
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,889,0,0,False,False,0.000010,0.162679,-0.154663
...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,803,0,0,False,False,-0.000816,0.164095,-0.128535
7019,7316,I give this movie 2 stars purely because of it...,movie,800,0,0,False,False,-0.001117,0.138495,-0.138613
7020,7317,I cant believe this film was allowed to be mad...,movie,636,0,0,False,False,-0.000882,0.152540,-0.209523
7021,7318,The version I saw of this film was the Blockbu...,movie,728,0,0,False,False,-0.000055,0.187223,-0.138941
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,790,0,0,False,False,-0.000613,0.143541,-0.139759

In [32]:
import numpy as np

post_text_df.loc[:,post_text_df.dtypes==np.object_].columns

Index(['text', 'topic'], dtype='object')

In [36]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)


post_text_df.to_sql('daria_luzina_features_post_3', con=engine, index=False) # записываем таблицу

df = pd.read_sql('SELECT * FROM daria_luzina_features_post_3', con=engine)

In [38]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

df = pd.read_sql('SELECT * FROM daria_luzina_features_post_3', con=engine)

In [40]:
df

,post_id,text,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url,embedding_mean,embedding_max,embedding_min
0,1,UK economy facing major risks\n\nThe UK manufa...,business,1967,0,0,False,False,-0.000771,0.150771,-0.140247
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,2701,0,0,False,False,-0.001662,0.144552,-0.151125
2,3,Asian quake hits European shares\n\nShares in ...,business,3408,0,0,False,False,-0.001554,0.143036,-0.144040
3,4,India power shares jump on debut\n\nShares in ...,business,1026,0,0,False,False,-0.000081,0.137932,-0.174149
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,889,0,0,False,False,0.000010,0.162679,-0.154663
...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,803,0,0,False,False,-0.000816,0.164095,-0.128535
7019,7316,I give this movie 2 stars purely because of it...,movie,800,0,0,False,False,-0.001117,0.138495,-0.138613
7020,7317,I cant believe this film was allowed to be mad...,movie,636,0,0,False,False,-0.000882,0.152540,-0.209523
7021,7318,The version I saw of this film was the Blockbu...,movie,728,0,0,False,False,-0.000055,0.187223,-0.138941
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,790,0,0,False,False,-0.000613,0.143541,-0.139759

In [42]:
import pandas as pd
from sqlalchemy import create_engine


def batch_load_sql(query: str) -> pd.DataFrame:
    CHUNKSIZE = 200000
    conn = engine.connect().execution_options(stream_results=True)
    chunks = []
    for chunk_dataframe in pd.read_sql(query, conn, chunksize=CHUNKSIZE):
        chunks.append(chunk_dataframe)
    conn.close()
    return pd.concat(chunks, ignore_index=True)

In [44]:
def load_features() -> pd.DataFrame:
    query = "SELECT * FROM public.user_data"
    return batch_load_sql(query)


def load_features() -> pd.DataFrame:
    df_users = batch_load_sql("SELECT * from public.user_data")
    df_posts = batch_load_sql("SELECT * from daria_luzina_features_post_3")
    return df_users, df_posts

df_users, df_posts = load_features()

In [45]:
df_users

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [48]:
df_posts

,post_id,text,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url,embedding_mean,embedding_max,embedding_min
0,1,UK economy facing major risks\n\nThe UK manufa...,business,1967,0,0,False,False,-0.000771,0.150771,-0.140247
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,2701,0,0,False,False,-0.001662,0.144552,-0.151125
2,3,Asian quake hits European shares\n\nShares in ...,business,3408,0,0,False,False,-0.001554,0.143036,-0.144040
3,4,India power shares jump on debut\n\nShares in ...,business,1026,0,0,False,False,-0.000081,0.137932,-0.174149
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,889,0,0,False,False,0.000010,0.162679,-0.154663
...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,803,0,0,False,False,-0.000816,0.164095,-0.128535
7019,7316,I give this movie 2 stars purely because of it...,movie,800,0,0,False,False,-0.001117,0.138495,-0.138613
7020,7317,I cant believe this film was allowed to be mad...,movie,636,0,0,False,False,-0.000882,0.152540,-0.209523
7021,7318,The version I saw of this film was the Blockbu...,movie,728,0,0,False,False,-0.000055,0.187223,-0.138941
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,790,0,0,False,False,-0.000613,0.143541,-0.139759

In [50]:
dataset = df_users[df_users['user_id']==200]

In [52]:
dataset = dataset.merge(df_posts.drop(columns='text'), how='cross')

In [54]:
dataset

,user_id,gender,age,country,city,exp_group,os,source,post_id,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url,embedding_mean,embedding_max,embedding_min
0,200,1,34,Russia,Degtyarsk,3,Android,ads,1,business,1967,0,0,False,False,-0.000771,0.150771,-0.140247
1,200,1,34,Russia,Degtyarsk,3,Android,ads,2,business,2701,0,0,False,False,-0.001662,0.144552,-0.151125
2,200,1,34,Russia,Degtyarsk,3,Android,ads,3,business,3408,0,0,False,False,-0.001554,0.143036,-0.144040
3,200,1,34,Russia,Degtyarsk,3,Android,ads,4,business,1026,0,0,False,False,-0.000081,0.137932,-0.174149
4,200,1,34,Russia,Degtyarsk,3,Android,ads,5,business,889,0,0,False,False,0.000010,0.162679,-0.154663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,200,1,34,Russia,Degtyarsk,3,Android,ads,7315,movie,803,0,0,False,False,-0.000816,0.164095,-0.128535
7019,200,1,34,Russia,Degtyarsk,3,Android,ads,7316,movie,800,0,0,False,False,-0.001117,0.138495,-0.138613
7020,200,1,34,Russia,Degtyarsk,3,Android,ads,7317,movie,636,0,0,False,False,-0.000882,0.152540,-0.209523
7021,200,1,34,Russia,Degtyarsk,3,Android,ads,7318,movie,728,0,0,False,False,-0.000055,0.187223,-0.138941
7022,200,1,34,Russia,Degtyarsk,3,Android,ads,7319,movie,790,0,0,False,False,-0.000613,0.143541,-0.139759

In [56]:
dataset = dataset.drop(columns = 'user_id')

In [58]:
dataset = dataset.set_index('post_id')

In [60]:
dataset

,gender,age,country,city,exp_group,os,source,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url,embedding_mean,embedding_max,embedding_min
post_id,,,,,,,,,,,,,,,,
1,1,34,Russia,Degtyarsk,3,Android,ads,business,1967,0,0,False,False,-0.000771,0.150771,-0.140247
2,1,34,Russia,Degtyarsk,3,Android,ads,business,2701,0,0,False,False,-0.001662,0.144552,-0.151125
3,1,34,Russia,Degtyarsk,3,Android,ads,business,3408,0,0,False,False,-0.001554,0.143036,-0.144040
4,1,34,Russia,Degtyarsk,3,Android,ads,business,1026,0,0,False,False,-0.000081,0.137932,-0.174149
5,1,34,Russia,Degtyarsk,3,Android,ads,business,889,0,0,False,False,0.000010,0.162679,-0.154663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,1,34,Russia,Degtyarsk,3,Android,ads,movie,803,0,0,False,False,-0.000816,0.164095,-0.128535
7316,1,34,Russia,Degtyarsk,3,Android,ads,movie,800,0,0,False,False,-0.001117,0.138495,-0.138613
7317,1,34,Russia,Degtyarsk,3,Android,ads,movie,636,0,0,False,False,-0.000882,0.152540,-0.209523
7318,1,34,Russia,Degtyarsk,3,Android,ads,movie,728,0,0,False,False,-0.000055,0.187223,-0.138941
7319,1,34,Russia,Degtyarsk,3,Android,ads,movie,790,0,0,False,False,-0.000613,0.143541,-0.139759

In [62]:
import os
from catboost import CatBoostClassifier

def get_model_path(path: str) -> str:
    if os.environ.get("IS_LMS") == "1":  # проверяем где выполняется код в лмс, или локально. Немного магии
        MODEL_PATH = '/workdir/user_input/model'
    else:
        MODEL_PATH = path
    return MODEL_PATH


def load_models():
    model_path = get_model_path("/Users/daraluzina/ML/HW_22/Ver_2.0/catboost_model_4.cbm")  
    
    # Load CatBoost model
    model = CatBoostClassifier()
    model.load_model(model_path)
    
    return model

In [64]:
model_test = load_models()

In [66]:
model_test.predict_proba(dataset)[:,1]

array([0.09608453, 0.10579442, 0.10236344, ..., 0.13947349, 0.16000311,
       0.13295646])

In [68]:
dataset['predict_proba'] = model_test.predict_proba(dataset)[:,1]

In [70]:
dataset = dataset.sort_values(by='predict_proba', ascending=False).head(5)

In [72]:
dataset

,gender,age,country,city,exp_group,os,source,topic,post_length,num_hashtags,num_mentions,has_hashtag,has_url,embedding_mean,embedding_max,embedding_min,predict_proba
post_id,,,,,,,,,,,,,,,,,
6542,1,34,Russia,Degtyarsk,3,Android,ads,movie,1810,0,0,False,False,0.000334,0.196419,-0.128496,0.225866
5263,1,34,Russia,Degtyarsk,3,Android,ads,movie,988,0,0,False,False,0.000676,0.184041,-0.113304,0.224685
7106,1,34,Russia,Degtyarsk,3,Android,ads,movie,1888,0,0,False,False,-0.001243,0.200487,-0.169293,0.218615
5764,1,34,Russia,Degtyarsk,3,Android,ads,movie,639,0,0,False,False,0.000425,0.175364,-0.124365,0.217779
7054,1,34,Russia,Degtyarsk,3,Android,ads,movie,1889,0,0,False,False,0.000201,0.185431,-0.127248,0.215950

In [74]:
dataset = dataset.merge(df_posts, left_index=True, right_on = 'post_id').reset_index()

In [76]:
dataset

,index,gender,age,country,city,exp_group,os,source,topic_x,post_length_x,...,text,topic_y,post_length_y,num_hashtags_y,num_mentions_y,has_hashtag_y,has_url_y,embedding_mean_y,embedding_max_y,embedding_min_y
0,6284,1,34,Russia,Degtyarsk,3,Android,ads,movie,1810,...,I know that there are some purists out there w...,movie,1810,0,0,False,False,0.000334,0.196419,-0.128496
1,5069,1,34,Russia,Degtyarsk,3,Android,ads,movie,988,...,"Hell to Pay is a bit bloody for my taste, even...",movie,988,0,0,False,False,0.000676,0.184041,-0.113304
2,6825,1,34,Russia,Degtyarsk,3,Android,ads,movie,1888,...,Margret Laurence probably didnt intend on havi...,movie,1888,0,0,False,False,-0.001243,0.200487,-0.169293
3,5547,1,34,Russia,Degtyarsk,3,Android,ads,movie,639,...,I thought this series was going to be another ...,movie,639,0,0,False,False,0.000425,0.175364,-0.124365
4,6779,1,34,Russia,Degtyarsk,3,Android,ads,movie,1889,...,The problem with so many people watching this ...,movie,1889,0,0,False,False,0.000201,0.185431,-0.127248

In [78]:
dataset = dataset[['post_id','text','topic_x']]

In [80]:
dataset

   post_id                                               text topic_x
0     6542  I know that there are some purists out there w...   movie
1     5263  Hell to Pay is a bit bloody for my taste, even...   movie
2     7106  Margret Laurence probably didnt intend on havi...   movie
3     5764  I thought this series was going to be another ...   movie
4     7054  The problem with so many people watching this ...   movie

In [82]:
list_of_dicts = dataset.to_dict('records')
list_of_dicts

[{'post_id': 6542,
  'text': 'I know that there are some purists out there who poo poo anything that is not exactly like the original, however sometimes spin-offs can stand on their own merits. I like the new Iron Chef because it is similar enough to the Japanese version but at the same time caters to American spirit. I love Alton Brown as commentator, because he explains things with flair. The Iron Chefs themselves are very interesting. I know the originals were probably the best chefs on the planet at the time, but Bobby Flay is the only American Iron Chef to beat them. Mario Batali seems to have the most fun when cooking, making comments and being flashy while creating. I have watched the series and find all the players work together well. The judges are not always the best choices, however. There are a few exceptions, like the lawyer turned foodie, but most of the judges are questionable in being able to handle what is served. I enjoy watching the chefs hustle and the challengers are surprising. The food at the end always looks amazing and sometimes it inspires me in the kitchen. Perhaps that is all anyone can ask, to want to really eat what is served. The only thing I would really change about the series is to ask folks on the show to lighten up a little. Sometimes the mood becomes a bit too tense, and that isnt always fun to watch when you are expecting more amusement. I liked the version with William Shatner (Iron Chef USA) because it was so over-the-top like the original, but I can tell it was a pretty expensive proposition. I wish he had stayed with this version and been the host - between Bill Shatner and Alton Brown, that would have me grinning for an hour. As long as you dont expect the original Japanese version and can accept this series on its own merits, you may find it to be an enjoyable hour.',
  'topic_x': 'movie'},
 {'post_id': 5263,
  'text': 'Hell to Pay is a bit bloody for my taste, even though it is no worse than many films. Nevertheless, I did enjoy the parade of seasoned stars and the western scenery & all; but, the story-line was very weak and I couldnt really see the point of it all. However, the music that accompanies the movie more than makes up for the lackluster film.Where did the guys -Nate & Noah Cryns- who wrote this music come from? They are awesome!! From the moment the music begins, it is by far, better than anything Ive heard in years. I think it may be the best Ive ever heard! Even though I wasnt thrilled with the action taking place on the film, the music evoked the exact emotion that was needed for each scene. I was transported in time to the old west during the opening credits and really felt like I was re-living those old days through the music.This movie is definitely worth a purchase and a viewing for the beautiful music and a trip down memory lane to see the old western stars once again.',
  'topic_x': 'movie'},
 {'post_id': 7106,
  'text': 'Margret Laurence probably didnt intend on having any of her novels adopted for film, let alone the Stone Angel. Hagar, as a character, was one who constantly challenged the social norm (Gainsay who dare, anyone?), and ended up nearly sacrificing her humanity in the process. The symbols in the book (the Stone Angel, Silver Thread, etc, etc.) are constant reminders of this struggle of the old and new, and the carnage (so to speak) along the way.While the film is reasonably faithful to the plot of the book (but it isnt really a plot kind-of storytelling, is it?), I think it missed the point on capturing the spirit of the film. Hagars defiance (for the sake of defiance) was not there. Bram could have been a lot more crude than portrayed, and Hagars father could have been played more traditionally, so to speak. If the filmmaker would insisted on stronger portrayals, the film would drive the point straight to home.Along the same vein, why should we see cell phones, organic produce, and other modernizations? Are we trying make some points for the sake of making some points (e.g., the Muslim girlfriend and the Native people). Hagar and co. are everything but politically correct in the book, so why should we see that in the film version. Modernization may be an excuse for a low-budget operation, but using that as an excuse to send subliminal politically-correct messages that are totally irrelevant to the novel (and the film) seems like throwing punches below the intellect.There is also the audience. It seems that we have been conditioned to see bitter old people as cute and lovable. Why should be laugh every time Hagar is at her tantrums? I doubt Magaret Laurence wanted her readers to laugh at, or with, Hagar. These people are frustrated and are full of angst, and all we do is to laugh at them. I dont think it did Hagar and other folks in her situation any justice.',
  'topic_x': 'movie'},
 {'post_id': 5764,
  'text': 'I thought this series was going to be another fun, action series with some dynamic plots and great performances. I was wrong. While I like Jamie Denton, this show is hardly worth watching at all, unless you enjoy watching some people brutalized and the actions of the agents supposedly warranted under the theme of national security. The show is great propaganda for the current government, and spews out jingoism as though we talk that way every day. After a couple of episodes, it was boring the hell out of me, and I started watching reruns of House Invaders on BBCAmerica instead. Rather watch CSI and Without a Trace, without a doubt.',
  'topic_x': 'movie'},
 {'post_id': 7054,
  'text': 'The problem with so many people watching this movie is the mindset they watch it in. People come looking for a B-Grade horror film, or a So Bad Its Good movie. Jack Frost 2 is neither of these.It is, to put it simply, a very good movie cleverly hidden inside a very bad one. To view it as anything other than a screwball comedy (easily funnier than all three absolutely meritless Scary Movies combined) is to misinterpret the movie on a basic level. It would be like watching Shawshank Redemption and then complaining that there were no explosions.The premise is simple; the characters from the first movie, haunted by memories of Jack Frost, take a vacation to a tropical island. A new, improved Jack comes after them, now with essentially the powers of Hydro-Man from Spider-Man; essentially, he can turn from water to snow easily and quickly, divide himself, multiply himself, and, worst of all, hes managed to grow an immunity to his only former weakness...AntiFreeze.Whats sad about this movie is that the brain dead fans of the first Jack Frost (a simply HORRIBLE movie) cant appreciate the change of tone for the sequel. Just as Alien was a horror film and Aliens was all about action, Jack Frost was a weak attempt at gimmick horror and Jack Frost 2 is a cleverly written parody of the gimmick horror genre.Most of the entertainment comes the live action actors, who serve admirably. Particularly funny among them are Ray Tooney (playing a caricature of a retired British Colonel from the early 1900s), Christopher Allport (offering an insane, hilarious spin on his wooden performance from the first film), and David Allen Brooks (taking the once serious role of manners to new, totally bizarre heights).The lack of memorable quotes disturbs me.As a horror movie, Jack Frost 2: Revenge of The Mutant Killer Snowman, rates a zero. But you have to understand, ITS NOT A HORROR MOVIE.',
  'topic_x': 'movie'}]